@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .file-input-button {
    @apply file:px-4 file:py-2 file:mr-4 file:bg-white/80 file:backdrop-blur-sm hover:file:bg-white file:text-gray-700 file:rounded-lg file:font-medium file:transition-colors file:duration-300 file:shadow-sm file:border file:border-gray-200 file:cursor-pointer;
  }
}
